{{page-title 'Validations'}}

<h1 class="display-6 mb-4">Validations</h1>

<div class="mb-3">
  <LinkTo @route="validations.new" class="btn btn-primary">New Validation</LinkTo>
</div>

<ValidationsSearchForm
  @dbs={{this.dbs}}
  @selectedDBs={{this.selectedDBs}}
  @onSelectedDBsChange={{this.onSelectedDBsChange}}
  @created={{this.created}}
  @onCreatedChange={{this.onCreatedChange}}
  @progresses={{this.progresses}}
  @selectedProgresses={{this.selectedProgresses}}
  @onSelectedProgressesChange={{this.onSelectedProgressesChange}}
  @validities={{this.validities}}
  @selectedValidities={{this.selectedValidities}}
  @onSelectedValiditiesChange={{this.onSelectedValiditiesChange}}
  @submitted={{this.submitted}}
  @onSubmittedChange={{this.onSubmittedChange}}
  class="bg-light p-3 border rounded"
/>

<ValidationsTable
  @validations={{@model.validations}}
  @page={{this.page}}
  @lastPage={{@model.lastPage}}
  @indexRoute="validations.index"
  @showRoute="validations.show"
/>