{{page-title (concat 'Validation #' @model.id)}}

<div class="mb-3">
  <LinkTo @route="validations.index">&laquo; Back</LinkTo>
</div>

<h1 class="display-6 mb-4">Validation #{{@model.id}}</h1>

<div class="d-flex align-items-center gap-3 mb-3" {{this.tickCurrentTime}}>
  <button type="button" class="btn btn-primary" disabled={{or (not this.canSubmit) this.submit.isRunning}} {{on 'click' (perform this.submit)}}>
    Submit
  </button>

  {{#if this.cannotSubmitReason}}
    <div class="text-danger">{{this.cannotSubmitReason}}</div>
  {{/if}}
</div>

<dl class="d-flex flex-wrap row-gap-1 column-gap-5">
  <div>
    <dt>ID</dt>
    <dd>{{@model.id}}</dd>
  </div>

  <div>
    <dt>DB</dt>
    <dd>{{@model.db}}</dd>
  </div>

  <div>
    <dt>Created</dt>
    <dd>{{format-datetime @model.created_at}}</dd>
  </div>

  <div>
    <dt>Started</dt>

    <dd>
      {{#if @model.started_at}}
        {{format-datetime @model.started_at}}
      {{else}}
        -
      {{/if}}
    </dd>
  </div>

  <div>
    <dt>Finished</dt>

    <dd>
      {{#if @model.finished_at}}
        {{format-datetime @model.finished_at}}
      {{else}}
        -
      {{/if}}
    </dd>
  </div>

  <div>
    <dt>Progress</dt>
    <dd><ProgressLabel @progress={{@model.progress}} /></dd>
  </div>

  <div>
    <dt>Validity</dt>
    <dd><ValidityBadge @validity={{@model.validity}} /></dd>
  </div>

  <div>
    <dt>Submission</dt>

    <dd>
      {{#if @model.submission}}
        <LinkTo @route="submissions.show" @model={{@model.submission.id}}>
          {{@model.submission.id}}
        </LinkTo>
      {{else}}
        -
      {{/if}}
    </dd>
  </div>
</dl>

<h2>Validation Reports</h2>

<table class="table">
  <thead>
    <tr>
      <th>Object</th>
      <th>File</th>
      <th>Validity</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
    {{#each @model.validation_reports key="object_id" as |report|}}
      <tr>
        <td>{{report.object_id}}</td>

        <td>
          {{#if report.file}}
            <button type="button" class="btn btn-link p-0" {{on 'click' (fn this.downloadFile report.file.url)}}>{{report.file.path}}</button>
          {{else}}
            -
          {{/if}}
        </td>

        <td><ValidityBadge @validity={{report.validity}} /></td>

        <td>
          <pre class="mb-0 py-1 text-pre-wrap"><code>{{#if report.details}}{{to-json report.details}}{{else}}-{{/if}}</code></pre>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>