<% web_url = Rails.application.config_for(:app).web_url! %>
<% thread_url = File.join(web_url, @submission.db, 'submissions', @submission.id.to_s) %>

<p>Dear submitter,</p>

<p>
  A DDBJ curator (<%= @curator.uid %>) has posted a message on your
  <%= @submission.db.humanize %> submission
  (<%= @submission.source_id.presence || "##{@submission.id}" %>):
</p>

<blockquote style="border-left: 3px solid #ccc; padding-left: 1em; color: #555;">
  <%= simple_format @message.body %>
</blockquote>

<p>
  <a href="<%= thread_url %>">Open the thread on the web UI to reply.</a>
</p>

<p>
  Regards,<br>
  DDBJ Repository
</p>
