<div class="card mb-3">
  <div class="card-header">
    {{@obj.schema.id}}
  </div>

  <div class="card-body">
    {{#let (unique-id) as |name|}}
      <div class="form-check form-check-inline">
        {{#let (unique-id) as |id|}}
          <input type="radio" checked={{eq @obj.sourceType 'file'}} name={{name}} id={{id}} {{on 'click' (fn this.setSourceType 'file')}} />
          <label class="form-check-label" for={{id}}>File</label>
        {{/let}}
      </div>

      <div class="form-check form-check-inline">
        {{#let (unique-id) as |id|}}
          <input type="radio" checked={{eq @obj.sourceType 'path'}} name={{name}} id={{id}} {{on 'click' (fn this.setSourceType 'path')}} />
          <label class="form-check-label" for={{id}}>Path</label>
        {{/let}}
      </div>
    {{/let}}
  </div>

  <ul class="list-group list-group-flush">
    {{#each @obj.sources as |source|}}
      <SourceField @obj={{@obj}} @source={{source}} />
    {{else}}
      <li class="list-group-item py-3">No items.</li>
    {{/each}}
  </ul>

  {{#if @obj.schema.multiple}}
    <div class="card-body text-end">
      <button type="button" class="btn btn-outline-primary" {{on 'click' @obj.addSource}}>Add</button>
    </div>
  {{/if}}
</div>