<dl class="horizontal" ...attributes>
  <dt>DB</dt>

  <dd class="d-flex flex-wrap gap-3 align-items-center">
    <Checkboxes @values={{@dbs}} @selected={{@selectedDBs}} @onChange={{@onSelectedDBsChange}} as |checkboxes|>
      {{#each @dbs as |db|}}
        <div class="form-check">
          {{#let (unique-id) as |id|}}
            <input type="checkbox" value={{db}} checked={{checkboxes.isSelected db}} id={{id}} class="form-check-input" {{on 'change' checkboxes.onChange}} />
            <label for={{id}} class="form-check-label">{{db}}</label>
          {{/let}}
        </div>
      {{/each}}
    </Checkboxes>
  </dd>

  <dt>Created</dt>

  <dd class="d-flex flex-wrap gap-3 align-items-center">
    {{#each this.createdOptions as |opt|}}
      <div class="form-check">
        {{#let (unique-id) as |id|}}
          <input type="radio" checked={{eq @created opt.value}} id={{id}} class="form-check-input" {{on 'change' (fn @onCreatedChange opt.value)}} />
          <label for={{id}} class="form-check-label">{{opt.label}}</label>
        {{/let}}
      </div>
    {{/each}}
  </dd>

  <dt>Progress</dt>

  <dd class="d-flex flex-wrap gap-3 align-items-center">
    <Checkboxes @values={{@progresses}} @selected={{@selectedProgresses}} @onChange={{@onSelectedProgressesChange}} as |checkboxes|>
      {{#each this.progressOptions as |opt|}}
        <div class="form-check">
          {{#let (unique-id) as |id|}}
            <input type="checkbox" value={{opt.value}} checked={{checkboxes.isSelected opt.value}} id={{id}} class="form-check-input" {{on 'change' checkboxes.onChange}} />
            <label for={{id}} class="form-check-label">{{opt.label}}</label>
          {{/let}}
        </div>
      {{/each}}
    </Checkboxes>
  </dd>
</dl>