<Table @items={{@validations}}>
  <thead class="table-light">
    <tr>
      <th>ID</th>

      {{#if @showUser}}
        <th>User</th>
      {{/if}}

      <th>DB</th>
      <th>Created</th>
      <th>Started</th>
      <th>Finished</th>
      <th>Progress</th>
      <th>Validity</th>
      <th>Submission</th>
    </tr>
  </thead>

  <tbody>
    {{#each @validations key="id" as |validation|}}
      <tr>
        <td class="position-relative">
          <LinkTo @route="validations.show" @model={{validation}} class="stretched-link">
            {{validation.id}}
          </LinkTo>
        </td>

        {{#if @showUser}}
          <td>{{validation.user.uid}}</td>
        {{/if}}

        <td>{{validation.db}}</td>
        <td>{{format-datetime validation.created_at}}</td>

        <td>
          {{#if validation.started_at}}
            {{format-datetime validation.started_at}}
          {{else}}
            -
          {{/if}}
        </td>

        <td>
          {{#if validation.finished_at}}
            {{format-datetime validation.finished_at}}
          {{else}}
            -
          {{/if}}
        </td>

        <td><ProgressLabel @progress={{validation.progress}} /></td>

        <td>
          <ValidityBadge @validity={{validation.validity}} />
          <DetailsCount @results={{validation.results}} />
        </td>

        <td class="position-relative">
          {{#if validation.submission}}
            <LinkTo @route="submissions.show" @model={{validation.submission.id}} class="stretched-link">
              {{validation.submission.id}}
            </LinkTo>
          {{else}}
            -
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</Table>

{{#if (not-eq @lastPage 1)}}
  <Pagination @route={{@route}} @current={{@page}} @last={{@lastPage}} />
{{/if}}