<dl class="horizontal" ...attributes>
  <dt>DB</dt>

  <dd>
    {{#each this.dbs as |db|}}
      <div class="form-check-inline">
        {{#let (unique-id) as |id|}}
          <input type="checkbox" value={{db.id}} checked={{this.isDBSelected db.id}} id={{id}} class="form-check-input" {{on 'change' this.toggleDB}} />
          <label for={{id}} class="form-check-label">{{db.id}}</label>
        {{/let}}
      </div>
    {{/each}}
  </dd>

  <dt>Created</dt>

  <dd>
    <div class="form-check-inline">
      {{#let (unique-id) as |id|}}
        <input type="radio" checked={{eq @created undefined}} id={{id}} class="form-check-input" {{on 'change' (fn @createdChanged undefined)}} />
        <label for={{id}} class="form-check-label">All</label>
      {{/let}}
    </div>

    <div class="form-check-inline">
      {{#let (unique-id) as |id|}}
        <input type="radio" checked={{eq @created 'within_one_day'}} id={{id}} class="form-check-input" {{on 'change' (fn @createdChanged 'within_one_day')}} />
        <label for={{id}} class="form-check-label">Within 1 day</label>
      {{/let}}
    </div>

    <div class="form-check-inline">
      {{#let (unique-id) as |id|}}
        <input type="radio" checked={{eq @created 'within_one_week'}} id={{id}} class="form-check-input" {{on 'change' (fn @createdChanged 'within_one_week')}} />
        <label for={{id}} class="form-check-label">Within 1 week</label>
      {{/let}}
    </div>

    <div class="form-check-inline">
      {{#let (unique-id) as |id|}}
        <input type="radio" checked={{eq @created 'within_one_month'}} id={{id}} class="form-check-input" {{on 'change' (fn @createdChanged 'within_one_month')}} />
        <label for={{id}} class="form-check-label">Within 1 month</label>
      {{/let}}
    </div>

    <div class="form-check-inline">
      {{#let (unique-id) as |id|}}
        <input type="radio" checked={{eq @created 'within_one_year'}} id={{id}} class="form-check-input" {{on 'change' (fn @createdChanged 'within_one_year')}} />
        <label for={{id}} class="form-check-label">Within 1 year</label>
      {{/let}}
    </div>
  </dd>

  <dt>Progress</dt>

  <dd>
    <div class="form-check-inline">
      {{#let (unique-id) as |id|}}
        <input type="checkbox" value="waiting" checked={{this.isProgressSelected 'waiting'}} id={{id}} class="form-check-input" {{on 'change' this.toggleProgress}} />
        <label for={{id}} class="form-check-label">Waiting</label>
      {{/let}}
    </div>

    <div class="form-check-inline">
      {{#let (unique-id) as |id|}}
        <input type="checkbox" value="running" checked={{this.isProgressSelected 'running'}} id={{id}} class="form-check-input" {{on 'change' this.toggleProgress}} />
        <label for={{id}} class="form-check-label">Running</label>
      {{/let}}
    </div>

    <div class="form-check-inline">
      {{#let (unique-id) as |id|}}
        <input type="checkbox" value="finished" checked={{this.isProgressSelected 'finished'}} id={{id}} class="form-check-input" {{on 'change' this.toggleProgress}} />
        <label for={{id}} class="form-check-label">Finished</label>
      {{/let}}
    </div>

    <div class="form-check-inline">
      {{#let (unique-id) as |id|}}
        <input type="checkbox" value="canceled" checked={{this.isProgressSelected 'canceled'}} id={{id}} class="form-check-input" {{on 'change' this.toggleProgress}} />
        <label for={{id}} class="form-check-label">Canceled</label>
      {{/let}}
    </div>
  </dd>
</dl>