<dl class="horizontal align-items-center" ...attributes>
  <dt>DB</dt>

  <dd class="d-flex flex-wrap gap-3 align-items-center">
    <CheckboxGroup @values={{@dbs}} @selected={{@selectedDBs}} @onChange={{@onSelectedDBsChange}} as |group|>
      {{#each @dbs as |db|}}
        <div class="form-check">
          <group.checkbox @value={{db}}>
            {{db}}
          </group.checkbox>
        </div>
      {{/each}}
    </CheckboxGroup>
  </dd>

  <dt>Created</dt>

  <dd class="d-flex flex-wrap gap-3 align-items-center">
    {{#each this.createdOptions as |opt|}}
      <div class="form-check">
        {{#let (unique-id) as |id|}}
          <input type="radio" checked={{eq @created opt.value}} id={{id}} class="form-check-input" {{on 'change' (fn @onCreatedChange opt.value)}} />
          <label for={{id}} class="form-check-label">{{opt.label}}</label>
        {{/let}}
      </div>
    {{/each}}
  </dd>

  <dt>Progress</dt>

  <dd class="d-flex flex-wrap gap-3 align-items-center">
    <CheckboxGroup @values={{@progresses}} @selected={{@selectedProgresses}} @onChange={{@onSelectedProgressesChange}} as |group|>
      {{#each this.progressOptions as |opt|}}
        <div class="form-check">
          <group.checkbox @value={{opt.value}}>
            {{opt.label}}
          </group.checkbox>
        </div>
      {{/each}}
    </CheckboxGroup>
  </dd>
</dl>