<h1 class="display-6 mb-4">Validation #{{@validation.id}}</h1>

<div class="mb-3">
  <SubmitButton @validation={{@validation}} />
</div>

<dl class="d-flex flex-wrap row-gap-1 column-gap-5">
  <div>
    <dt>ID</dt>
    <dd>{{@validation.id}}</dd>
  </div>

  {{#if @showUser}}
    <div>
      <dt>User</dt>
      <dd>{{@validation.user.uid}}</dd>
    </div>
  {{/if}}

  <div>
    <dt>DB</dt>
    <dd>{{@validation.db}}</dd>
  </div>

  <div>
    <dt>Created</dt>
    <dd>{{format-datetime @validation.created_at}}</dd>
  </div>

  <div>
    <dt>Started</dt>

    <dd>
      {{#if @validation.started_at}}
        {{format-datetime @validation.started_at}}
      {{else}}
        -
      {{/if}}
    </dd>
  </div>

  <div>
    <dt>Finished</dt>

    <dd>
      {{#if @validation.finished_at}}
        {{format-datetime @validation.finished_at}}
      {{else}}
        -
      {{/if}}
    </dd>
  </div>

  <div>
    <dt>Progress</dt>
    <dd><ProgressLabel @progress={{@validation.progress}} /></dd>
  </div>

  <div>
    <dt>Validity</dt>

    <dd>
      <ValidityBadge @validity={{@validation.validity}} />
      <DetailsCount @results={{@validation.results}} />
    </dd>
  </div>

  <div>
    <dt>Submission</dt>

    <dd>
      {{#if @validation.submission}}
        <LinkTo @route="submissions.show" @model={{@validation.submission.id}}>
          {{@validation.submission.id}}
        </LinkTo>
      {{else}}
        -
      {{/if}}
    </dd>
  </div>
</dl>

<h2>Results</h2>

<table class="table">
  <thead>
    <tr>
      <th>Object</th>
      <th>File</th>
      <th>Validity</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
    {{#each @validation.results key="object_id" as |result|}}
      <tr>
        <td>{{result.object_id}}</td>

        <td>
          {{#if result.file}}
            <button type="button" class="btn btn-link p-0" {{on 'click' (fn this.downloadFile result.file.url)}}>{{result.file.path}}</button>
          {{else}}
            -
          {{/if}}
        </td>

        <td><ValidityBadge @validity={{result.validity}} /></td>

        <td>
          <pre class="mb-0 py-1 text-pre-wrap"><code>{{#if result.details}}{{to-json result.details}}{{else}}-{{/if}}</code></pre>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>