<dl>
  <dt>DB</dt>

  <dd>
    {{#each this.dbs as |db|}}
      <label>
        <input type='checkbox' value={{db.id}} checked={{this.isDBSelected db.id}} {{on 'change' this.toggleDB}} />
        {{db.id}}
      </label>
    {{/each}}
  </dd>

  <dt>Created</dt>

  <dd>
    <label>
      <input type='radio' checked={{eq @created undefined}} {{on 'change' (fn @createdChanged undefined)}} />
      All
    </label>

    <label>
      <input type='radio' checked={{eq @created 'within_one_day'}} {{on 'change' (fn @createdChanged 'within_one_day')}} />
      Within 1 day
    </label>

    <label>
      <input type='radio' checked={{eq @created 'within_one_week'}} {{on 'change' (fn @createdChanged 'within_one_week')}} />
      Within 1 week
    </label>

    <label>
      <input type='radio' checked={{eq @created 'within_one_month'}} {{on 'change' (fn @createdChanged 'within_one_month')}} />
      Within 1 month
    </label>

    <label>
      <input type='radio' checked={{eq @created 'within_one_year'}} {{on 'change' (fn @createdChanged 'within_one_year')}} />
      Within 1 year
    </label>
  </dd>

  <dt>Progress</dt>

  <dd>
    <label>
      <input type='checkbox' value='waiting' checked={{this.isProgressSelected 'waiting'}} {{on 'change' this.toggleProgress}} />
      Waiting
    </label>

    <label>
      <input type='checkbox' value='running' checked={{this.isProgressSelected 'running'}} {{on 'change' this.toggleProgress}} />
      Running
    </label>

    <label>
      <input type='checkbox' value='finished' checked={{this.isProgressSelected 'finished'}} {{on 'change' this.toggleProgress}} />
      Finished
    </label>

    <label>
      <input type='checkbox' value='canceled' checked={{this.isProgressSelected 'canceled'}} {{on 'change' this.toggleProgress}} />
      Canceled
    </label>
  </dd>
</dl>