<h1 class="display-6 mb-4">Submissions</h1>

<SubmissionsSearchForm
  @dbs={{this.dbs}}
  @selectedDBs={{this.selectedDBs}}
  @onSelectedDBsChange={{this.onSelectedDBsChange}}
  @created={{this.created}}
  @onCreatedChange={{this.onCreatedChange}}
  class="bg-light p-3 border rounded"
/>

<Table @items={{@model.submissions}}>
  <thead class="table-light">
    <tr>
      <th>ID</th>
      <th>DB</th>
      <th>Created</th>
      <th>Started</th>
      <th>Finished</th>
      <th>Progress</th>
      <th>Result</th>
      <th>Validation</th>
    </tr>
  </thead>

  <tbody>
    {{#each @model.submissions key="id" as |submission|}}
      <tr>
        <td>
          <LinkTo @route="submissions.show" @model={{submission}}>{{submission.id}}</LinkTo>
        </td>

        <td>{{submission.validation.db}}</td>
        <td>{{format-datetime submission.created_at}}</td>

        <td>
          {{#if submission.started_at}}
            {{format-datetime submission.started_at}}
          {{else}}
            -
          {{/if}}
        </td>

        <td>
          {{#if submission.finished_at}}
            {{format-datetime submission.finished_at}}
          {{else}}
            -
          {{/if}}
        </td>

        <td>
          <ProgressLabel @progress={{submission.progress}} />
        </td>

        <td>
          <ResultBadge @result={{submission.result}} />
        </td>

        <td>
          <LinkTo @route="validations.show" @model={{submission.validation.id}}>#{{submission.validation.id}}</LinkTo>
        </td>
      </tr>
    {{/each}}
  </tbody>
</Table>

{{#if (not-eq @model.lastPage 1)}}
  <Pagination @route="submissions.index" @current={{or this.page 1}} @last={{@model.lastPage}} />
{{/if}}